.главный_див{
background-color: black;
width: 1000px;
height: 100%;












}




















































































































































